<%= bootstrap_form_for(@hackathon) do |f| %>
  <% if @hackathon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hackathon.errors.count, "error") %> prohibited this hackathon from being saved:</h2>

      <ul>
      <% @hackathon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<section class="box">
		<header>
			<h3>Why becoming a Hackathomic?</h3>
		</header>
		<p>As a hackathon organizer, a Hackathomic can easily organize a hackathon by registering into the platform, creating a new event and customizing their own page. There’s no need to start a new site from zero every time you would like to set up a hackathon.</p>
		<div class="form-group">
    		<%= f.text_field :name, :label => 'Hackathon name' %>
		</div>
		<div class="form-group">
    		<%= f.text_area :desc, :label => 'About this Hackathon' %>
		</div>
		<div class="form-group">
    		<%= f.datetime_field :start, value: Time.now %>
		</div>
		<div class="form-group">
    		<%= f.datetime_field :ends, value: 2.days.from_now.change(hour: 7) %>
		</div>
		<div class="form-group">
    		<%= f.text_field :link, :label => 'Website' %>
		</div>
		<footer>
			<%= f.submit :class => "button alt" %>
		</footer>
	</section>
<% end %>
