<p id="notice"><%= notice %></p>

<h1>Listing Hackathons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>Ends</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hackathons.each do |hackathon| %>
      <tr>
        <td><%= hackathon.name %></td>
        <td><%= hackathon.start %></td>
        <td><%= hackathon.ends %></td>
        <td><%= hackathon.link %></td>
        <td><%= link_to 'Show', hackathon %></td>
        <td><%= link_to 'Edit', edit_hackathon_path(hackathon) %></td>
        <td><%= link_to 'Destroy', hackathon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hackathon', new_hackathon_path %>
