<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hackathon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hackathon.desc %>
</p>

<p>
  <strong>Start:</strong>
  <%= @hackathon.start %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @hackathon.ends %>
</p>

<p>
  <strong>Link:</strong>
  <%= @hackathon.link %>
</p>



<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
