<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hackathon.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @hackathon.start %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @hackathon.ends %>
</p>

<p>
  <strong>Location:</strong>
  <%= @hackathon.location %>
</p>

<p>
  <strong>Teams:</strong>
  <%= @hackathon.teams %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @hackathon.picture %>
</p>

<p>
  <strong>Link:</strong>
  <%= @hackathon.link %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @hackathon.languages %>
</p>

<p>
  <strong>Frameworks:</strong>
  <%= @hackathon.frameworks %>
</p>

<p>
  <strong>Github:</strong>
  <%= @hackathon.github %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @hackathon.prize %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @hackathon.rules %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @hackathon.projects %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @hackathon.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @hackathon.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @hackathon.user %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @hackathon.desc %>
</p>

<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
