<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Site:</strong>
  <%= @location.site %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @location.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @location.twitter %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @location.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @location.email %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
