<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Hackathomic</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
       				<script>
       				
       					var template = '<div data-notify="container" class="alert alert-{0}" role="alert">' +
		'<span data-notify="icon"></span> ' +
		'<span data-notify="title">{1}</span> ' +
		'<span data-notify="message">{2}</span>' +
		'<div class="progress" data-notify="progressbar">' +
			'<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
		'</div>' +
		'<a href="{3}" target="{4}" data-notify="url"></a>' +
	'</div>';
       				
       					<% if notice %>
						$.notify({
							// options
							message : '> <%= notice %>'
						}, {
							// settings
							type : 'danger',
							template: template
						});
						<% end %>
						<% if alert %>
						$.notify({
							// options
							message : '> <%= alert %>'
						}, {
							// settings
							type : 'danger',
							template: template
						});
						<% end %>
       				</script>
       				
       				
					<div id="header">

						<!-- Logo -->
							<h1>
								<a href="<%= root_url %>" class="main-link">
									<%= image_tag "logo.svg" %>
									<span>hackathomic</span>
									<small>The hackathon platform</small>
									
								</a>
							</h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<% if user_signed_in? %>
									<li>
										<a href="#"><%= current_user.email %></a>	
										<ul>
											<li>
												<%= link_to('Create Team', new_team_path) %>
											</li>
											<li>
												<%= link_to('My Teams', teams_path) %>
											</li>
											<li>
												<%= link_to('Account', edit_user_registration_path) %>
											</li>
											<li>
												<%= link_to('Logout', destroy_user_session_path, :method => 'delete') %> 
											</li>
										</ul>
									</li>
									<% end %>
									<li>
										<a href="#">Dropdown</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
											<li>
												<a href="#">Phasellus consequat</a>
												<ul>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
													<li><a href="#">Veroeros feugiat</a></li>
													<li><a href="#">Nisl sed aliquam</a></li>
													<li><a href="#">Dolore adipiscing</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
										</ul>
									</li>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
								</ul>
							</nav>

						
			<%= yield %>
						
			<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u 12u(mobile)">
							<section>
								<header>
									<h2>Happening Now!</h2>
								</header>
								<ul class="dates">
									<li>
										<span class="date">Jan <strong>27</strong></span>
										<h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
										<p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
									</li>
									<li>
										<span class="date">Jan <strong>23</strong></span>
										<h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
										<p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
									</li>
									<li>
										<span class="date">Jan <strong>15</strong></span>
										<h3><a href="#">Magna tempus lorem feugiat</a></h3>
										<p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
									</li>
									<li>
										<span class="date">Jan <strong>12</strong></span>
										<h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
										<p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
									</li>
									<li>
										<span class="date">Jan <strong>10</strong></span>
										<h3><a href="#">Blandit tempus aliquam?</a></h3>
										<p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
									</li>
								</ul>
							</section>
							<section>
								<header>
									<h2>Upcomming Next</h2>
								</header>
								<ul class="dates">
									<li>
										<span class="date">Jan <strong>27</strong></span>
										<h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
										<p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
									</li>
									<li>
										<span class="date">Jan <strong>23</strong></span>
										<h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
										<p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
									</li>
									<li>
										<span class="date">Jan <strong>15</strong></span>
										<h3><a href="#">Magna tempus lorem feugiat</a></h3>
										<p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
									</li>
									<li>
										<span class="date">Jan <strong>12</strong></span>
										<h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
										<p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
									</li>
									<li>
										<span class="date">Jan <strong>10</strong></span>
										<h3><a href="#">Blandit tempus aliquam?</a></h3>
										<p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
									</li>
								</ul>
							</section>
						</div>
						<div class="4u 12u(mobile)">
							<section>
								<header>
									<h2>What's this all about?</h2>
								</header>
								<a href="#" class="image featured"><%= image_tag "hackathomic02.jpg" %></a>
								<p>
									<strong>Hackathon = Hacker + Marathon. A marathon of hackers. Tadaa!</strong>
								</p>
								<h3>Hacker, really? Isn't it illegal?</h3>
								<p>
									This is a common mistake among people. Hackers are not criminals, but simply technology professionals dedicated to profoundly know and understand systems, devices, softwares and computer networks.
								</p>
								<h3>So now the geekies decided to run a marathon?</h3>
								<p>
									Not quite. It's rather a race against the clock. An equally energy-demanding activity though.
								</p>
								<h3>How is that again?</h3>
								<p>
									Hackathon is a contest of programmers, designers and other technology-based professionals - divided into teams - which aims to develop new systems and give a start to new ideas within a pre-determined period of time, which may last from a few hours up to weeks, depending on the sponsors' proposals. The sense of challenge is the main driving force within the competing teams, and it is due to the fact that they usually start from zero, have only their ideas as their arms and need to create a working prototype in a very short time. After that, a judging board defines which is/are the best project(s).

								</p>
								<h4>Discover how Hackathomic makes your Hackathon easier!</h4>	
								<footer>
									<a href="#" class="button">About Hackathomic</a>
								</footer>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u 12u(mobile)">
							<section>
								<header>
									<h2>Spread the idea</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
									<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
									<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>
		</div>
	</body>
</html>
